name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: rm package-lock.json && npm install --force

      - name: Lint
        run: npm run lint

      - name: Unit tests
        run: npm run test:run

      - name: Build application
        run: npm run build
